.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "reset increment"
      "set-count set-count";
  }
  
  .reset { grid-area: reset; }
  
  .increment { grid-area: increment; }
  
  .set-count { grid-area: set-count; }
  